$light: #fff;
$black: #000;
$grey: #999;
$darkGrey: #3D3D3D;
$borderGrey: #E3E5EC;
$fontGrey: #656871;
$fontTab: #9599A4;
$backgroundHeader:#25292D;
$backgroundFooter: #222227;
$backgroundMainBaner: #27282C;
$backgroundFooter: #222227;
$green: #17BA5F;
$darkBlue: #0071CE;
$blue:#007FE8;
$purple: #C288FF;
$borderButton: #D1D4DC;
$red: #FF3039;
$yellow: #FFD200;

