$fontLightOS: "OpenSans-Light", sans-serif; // 300
$fontRegularOS: "OpenSans-Regular", sans-serif; // 400
$fontMediumOS: "OpenSans-Medium", sans-serif; // 500
$fontSemiBoldOS: "OpenSans-SemiBold", sans-serif; // 600
$fontBoldOS: "OpenSans-Bold", sans-serif; // 700
$fontExtraBoldOS: "OpenSans-ExtraBold", sans-serif; // 800

$fontLightFS: "FiraSans-Light", sans-serif; // 300
$fontRegularFS: "FiraSans-Regular", sans-serif; // 400
$fontMediumFS: "FiraSans-Medium", sans-serif; // 500
$fontSemiBoldFS: "FiraSans-SemiBold", sans-serif; // 600
$fontBoldFS: "FiraSans-Bold", sans-serif; // 700
$fontExtraBoldFS: "FiraSans-ExtraBold", sans-serif; // 800

