@font-face {
  font-family: 'FiraSans-Light';
  font-weight: 300;
  src: url('@/assets/fonts/FiraSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraSans-Regular';
  font-weight: 400;
  src: url('@/assets/fonts/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraSans-Medium';
  font-weight: 500;
  src: url('@/assets/fonts/FiraSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraSans-SemiBold';
  font-weight: 600;
  src: url('@/assets/fonts/FiraSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraSans-Bold';
  font-weight: 700;
  src: url('@/assets/fonts/FiraSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraSans-ExtraBold';
  font-weight: 800;
  src: url('@/assets/fonts/FiraSans-ExtraBold.ttf') format('truetype');
}


@font-face {
  font-family: 'OpenSans-Light';
  font-weight: 300;
  src: url('@/assets/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Regular';
  font-weight: 400;
  src: url('@/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Medium';
  font-weight: 500;
  src: url('@/assets/fonts/OpenSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  font-weight: 600;
  src: url('@/assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Bold';
  font-weight: 700;
  src: url('@/assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  font-weight: 800;
  src: url('@/assets/fonts/OpenSans-ExtraBold.ttf') format('truetype');
}